<nb-card>
    <nb-card-header>Clientes</nb-card-header>
    <nb-card-body>
      <div class="container col-md-12">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="label col-sm-4 col-form-label">Id</label>
                <input type="text" nbInput fullWidth fieldSize="small" />
  
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="label col-sm-6 col-form-label">Data Cadastro</label>
                <input type="text" nbInput fullWidth fieldSize="small"  />
  
              </div>
            </div>
         
            
            <div class="col-md-4">
              <div class="form-group ">
                <label class="label col-sm-4 col-form-label">CPF/CNPJ</label>
                <input type="text" nbInput fullWidth fieldSize="small"  />
  
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="label col-sm-6 col-form-label">Nome Fantasia</label>
                <input type="text" nbInput fullWidth fieldSize="small" />
  
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
              
              </div>
       
              <div class="form-group ">
                <nb-select class="nb-select-transparencia col-sm-12"  style="padding-top:12px; padding-right:17%; height:35px!important" fullWidth placeholder="Pessoa Física ou Jurídica" status="basic">
                  <nb-option value="1">Física</nb-option>
                  <nb-option value="2">Jurídica</nb-option>
                </nb-select>
            </div>
          </div>
           
          </div>
        </form>
      </div>
    </nb-card-body>
      <nb-card-footer>
      <div class="col-md-12">
    
            <button type="submit" nbButton class="btn-left" status="primary" (click)="back()">
              Voltar
            </button>
            <button type="submit" nbButton class="btn-right" status="success">
              Salvar
            </button>
       
        </div>
      </nb-card-footer>
  
  </nb-card>